.home {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.homeDescription,
.homeQuestion {
    text-align: center;
    font-size: var(--app-fs);
    line-height: 2rem;
}

.homeButton {
}
