.home {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.homeTitle {
    text-align: center;
    line-height: 2rem;
    font-size: 1.75rem;
}

.homeDescription,
.homeQuestion {
    text-align: center;
    font-size: var(--app-fs);
    line-height: 2rem;
}

.homeButton {
    font-size: var(--app-fs);
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-transform: uppercase;
}
