.result {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
}

.resultTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resultMid {
    height: 80%;
    width: 100%;
    overflow-y: scroll;
}

.resultUl {
}

.resultLi {
    list-style: none;
    display: flex;
    margin-bottom: 1rem;
}

.resultVerdict {
    margin-right: 1rem;
}
